<mat-card *ngIf='!editing' class="task" (mouseover)='showDelete()'
    (mouseout)='hideDelete()'>

    <!-- <button *ngIf='!adding' mat-icon-button color='accent'
    (click)='openAdding()'>
    <mat-icon svgIcon='add'></mat-icon>
</button> -->

    <button (click)="handleDelete($event)" #delete
        [style.display]="hovering ? 'inline' : 'none'"
        class="task-delete-button" mat-icon-button color='warn'>
        <mat-icon svgIcon='delete'></mat-icon>
    </button>


    <div class="task-content" (click)='openEdit()'>
        {{task.text}}
    </div>




</mat-card>
<mat-card *ngIf='editing' class="task"><textarea #editField
        (keydown)='checkIfEnter($event)' type='text' [value]='task.text'
        appAutofocus></textarea>
</mat-card>