<h2>{{name}}</h2>

<div [id]='listId' cdkDropList [cdkDropListConnectedTo]="dropLists"
    (cdkDropListDropped)="drop($event)">
    <div *ngFor="let task of tasks" cdkDrag>
        <app-task [task]='task'></app-task>
    </div>
    <button *ngIf='!adding' mat-icon-button color='accent'
        (click)='openAdding()'>
        <mat-icon svgIcon='add'></mat-icon>
    </button>
    <textarea #addField (keydown)='checkIfEnter($event)' *ngIf='adding'
        placeholder="new task" appAutofocus></textarea>
</div>